body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.25rem;
}

.sidebar {
    background-color: black;
    width: 320px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    font-size: 1rem;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    width: 1rem;
    height: 1rem;
}

.icons {
    font-size: 1rem;
    display: flex;
}

.icons i {
    margin-right: 1rem;
    opacity: 0.7;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: auto;
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
}


.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.box-p2 {
    font-size: 0.9rem;
    opacity: 0.9;
    margin: 0.5rem 0;

}

.badge {
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
}

.btn-margin {
    margin-top: 1rem;
}

.dark-badge {
    background-color: black;
    color: white;
}

.sticky-nav {
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}

.nav-left {
    margin-left: 1rem;
}

.nav-left img {
    border-radius: 50%;
    background-color: #0e0e0e;
    width: 1.5rem;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-right {
    margin-right: 1rem;
}

@media(max-width:1000px) {
    .hide {
        display: none;
    }
}